<% layout("/layouts/boilerplate") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
</head>
<body>
  


<%= success %>  <%= error %>
  <% if (!curUser) {   %> 
    <br><br>
    <marquee direction="left" class="mar">
      <p id="indexP">      
        <b id="indexN">New </b>
        <b id="indexB">New games</b> has been added to subscription
        <b id="indexN">New </b>
      </p>
  </marquee>

  <!-- forRowImg -->

<div class="imgContainer">
<div class="devImg one1">
    <figrue class="fig-one"> 
        <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678390/CGImg%27s/vdigxaupahd3gkpn6u70.jpg" alt="" class="imgImg one1">
    </figrue>
</div>

<div class="fig-two">
    <figrue class="imgDev">
        <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678330/CGImg%27s/owadf5hmuc6snr0qvddp.avif" alt="" class="imgImg">
    </figrue>
</div>

<div class="devImg">
    <figrue class="imgDev">
        <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678442/CGImg%27s/e1cbronljwssnaiuzlcq.jpg" alt="" class="imgImg">
    </figrue>
</div>

<div class="devImg">
    <figrue class="imgDev">
        <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678490/CGImg%27s/yfajyaq2mt7vzzjz9hlu.jpg" alt="" class="imgImg">
    </figrue>
</div>

<div class="devImg">
    <figrue class="imgDev">
        <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678528/CGImg%27s/npxojln4d5x6sxepjpgr.jpg" alt="" class="imgImg">
    </figrue>
</div>
</div>
  <!-- RowIMgEnd -->
  <br><br><br><br>
  <h2 style="color: aliceblue;"><b>Free Cloud Games</b></h2>
  <p>
   <h6 style="color: aliceblue;">With  KI CLOUD-Gaming, you can just plug-in your internet and enjoy the seamless experience of popular game titles on PC, Mobile, TV, and Web Browser.
   </h6>
  </p>    

  <!-- freeGame ____________________________________________________________________________ -->

<div class="containerFree">
  <h3 class="h3Class">Play&nbsp;&nbsp;for&nbsp;&nbsp; free</h3>
  <div class="GamesCon">

  <div class="games-one">
      <a href="https://cloudsaaa.github.io/11Hangman-Game/">
      <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515809/CGImg%27s/11hwxjc7x8aqdrlwek1mqs.jpg" alt="" id="img">
      </a>
      <p id="p">Save the MAN</p>
 </div>
    <div class="games-one">
        <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519639/ForFrontPic/img9_mqpjr4.png" alt="" id="img">
        <p id="p">Pig Ben</p>
  </div>
     <div class="games-one">
        <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519609/ForFrontPic/img8_ara7r9.png" alt="" id="img">
        <p id="p">Monkey Man/by Aben</p>
  </div>
</div>

        <div class="GamesCon">
            <div class="games-one">
                <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519645/ForFrontPic/img10_szbvk1.png" alt="" id="img">
                <p id="p">ESCAPE</p>
            </div>
            <div class="games-one">
              <a href="https://cloudsaaa.github.io/8Space_shoter/">
                <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515825/CGImg%27s/13y7dxbakpdwmzy7oh22ak.webp" alt="" id="img">
              </a>
                <p id="p">Shooter</p>
            </div>
            <div class="games-one">
                <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519658/ForFrontPic/img12_tvbdly.png" alt="" id="img">
                <p id="p">BIKE</p>
            </div>
        </div>

        <div class="GamesCon">
            <div class="games-one">
                <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519664/ForFrontPic/img13_ojnpbe.png" alt="" id="img">
                <p id="p">Catch the BUG</p>
            </div>
            <div class="games-one">
                <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519675/ForFrontPic/img15_xphvtz.png" alt="" id="img">
                <p id="p">Football</p>
            </div>
            <div class="games-one">
              <a href="https://cloudsaaa.github.io/5Increament/">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515837/CGImg%27s/16fiizeoycuvhuwjehhvme.png" alt="" id="img">
              </a>
                <p id="p">Shooter</p>
            </div>
        </div>

        
        <div class="GamesCon">
          <div class="games-one">
            <a href="https://cloudsaaa.github.io/Maze/">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515697/CGImg%27s/1hog5wx2tjoxdusgruans.jpg" alt="" id="img">
            </a>
              <p id="p">Escape the Maze</p>
          </div>
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678330/CGImg%27s/owadf5hmuc6snr0qvddp.avif" alt="" id="img">
              <p id="p">Apex</p>
          </div>
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678390/CGImg%27s/vdigxaupahd3gkpn6u70.jpg" alt="" id="img">
              <p id="p">The Witcher</p>
          </div>
      </div>

      <div class="GamesCon">
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678442/CGImg%27s/e1cbronljwssnaiuzlcq.jpg" alt="" id="img">
              <p id="p">FARCRY 4</p>
          </div>
          <div class="games-one">
            <a href="https://cloudsaaa.github.io/18Word-Scramble-Game/">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515778/CGImg%27s/5nesgfah4xeoxlfcugiig.webp" alt="" id="img">
            </a>
              <p id="p">Guess the Word</p>
          </div>
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678490/CGImg%27s/yfajyaq2mt7vzzjz9hlu.jpg" alt="" id="img">
              <p id="p">Village</p>
          </div>
      </div>

      <div class="GamesCon">
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678528/CGImg%27s/npxojln4d5x6sxepjpgr.jpg" alt="" id="img">
              <p id="p">Racing</p>
          </div>
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678565/CGImg%27s/y4m5shveazos5ct7gcpu.webp" alt="" id="img">
              <p id="p">Gate Zero</p>
          </div>
          <div class="games-one">
            <a href="https://cloudsaaa.github.io/3Connect4/">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515849/CGImg%27s/18wpc00a1cmpbfr8i9lqz6.jpg" alt="" id="img">
            </a>
              <p id="p">YouGO</p>
          </div>
      </div>
    </div>
<br><br><br><br><br><br><br><br><br><br>
<h3 class="h3Class2">Coming Soon</h3>
<br><br><br>
<div class="body">
  <a href="/signup">
<div class="slider">
  <div class="slide-track">

<div class="slide">
      <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519475/ForFrontPic/img1_wegzdh.jpg" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519559/ForFrontPic/img2_xxryql.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519566/ForFrontPic/img3_mixq7l.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519580/ForFrontPic/img4_iewcsm.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519595/ForFrontPic/img6_uab9xw.jpg" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519585/ForFrontPic/img5_qhpt45.jpg" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519603/ForFrontPic/img7_ugitgd.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519609/ForFrontPic/img8_ara7r9.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519639/ForFrontPic/img9_mqpjr4.png" alt="">        
</div>

</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519645/ForFrontPic/img10_szbvk1.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519653/ForFrontPic/img11_hkewog.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519658/ForFrontPic/img12_tvbdly.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519664/ForFrontPic/img13_ojnpbe.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519670/ForFrontPic/img14_xpgkaa.webp" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519675/ForFrontPic/img15_xphvtz.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519685/ForFrontPic/img16_b6gpdb.png" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1713542797/samples/food/pot-mussels.jpg" alt="">        
</div>
<div class="slide">
  <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519688/ForFrontPic/img17_li3shf.jpg" alt="">        
</div>

   </div>
  </a>
</div>



    <!-- <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1"> -->
            <!-- without account  -->

    <!-- < % for(let listing of allListings) { %>
      <a href="/signup">
        <div class="card col">
        <img src="<  %= listing.image %>" 
        class="card-img-top" 
        alt="Games-Image"
        style="height: 20rem;"
          />
    <div class="card-img-overlay"></div>                 
      </div>
  </a>
    < % } %>  -->
  <% } %>
    <!-- </div> -->
  <% if (curUser) {   %> 

<marquee direction="left">
    <p id="indexP">      
    <b id="indexB">New games</b> has been added to subscription
  </p>
</marquee>
<br><br>
<h3 class="h3Class2">Coming Soon</h3>

<div class="BodyforImg">
<div class="gallery">
 
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519475/ForFrontPic/img1_wegzdh.jpg" alt=""> 
  </figrue>
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519559/ForFrontPic/img2_xxryql.png" alt=""> 
  </figrue>
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519566/ForFrontPic/img3_mixq7l.png" alt=""> 
  </figrue>
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519580/ForFrontPic/img4_iewcsm.png" alt=""> 
  </figrue>
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519585/ForFrontPic/img5_qhpt45.jpg" alt=""> 
  </figrue>
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519595/ForFrontPic/img6_uab9xw.jpg" alt=""> 
  </figrue>
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519603/ForFrontPic/img7_ugitgd.png" alt=""> 
  </figrue>
  <!-- <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519609/ForFrontPic/img8_ara7r9.png" alt=""> 
  </figrue> -->
  <!-- <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519639/ForFrontPic/img9_mqpjr4.png" alt=""> 
  </figrue>
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519645/ForFrontPic/img10_szbvk1.png" alt=""> 
  </figrue> -->
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519653/ForFrontPic/img11_hkewog.png" alt=""> 
  </figrue>
  <!-- <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519658/ForFrontPic/img12_tvbdly.png" alt=""> 
  </figrue> -->
  <!-- <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519664/ForFrontPic/img13_ojnpbe.png" alt=""> 
  </figrue> -->
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519670/ForFrontPic/img14_xpgkaa.webp" alt=""> 
  </figrue>
  <!-- <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519675/ForFrontPic/img15_xphvtz.png" alt=""> 
  </figrue> -->
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519685/ForFrontPic/img16_b6gpdb.png" alt=""> 
  </figrue>
  <figrue class="cardForImg">
    <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519688/ForFrontPic/img17_li3shf.jpg" alt=""> 
  </figrue>
</div>
</div>

<br><br><br><br>
<h3 class="h3Class2">Latest Games</h3> <br><br><br>
<!-- LineImages---------------------------------------------------------------------------------------------------------------------- -->

<div class="bodyPic">
<div class="containerPic">
  <div class="slider-wrapper">
      <button id="prev-slide" class="slide-button material-symbols-rounded">chevron_left</button>
      <div class="image-list">

  <% for(let listing of allListings) { %>
    <a href="<%=listing.sourceCode%>">       
        <img src="<%=listing.image %>" 
        class="image-item"                 
  />
</a>           
  <% } %> 

      </div>
      <button id="next-slide" class="slide-button material-symbols-rounded">chevron_right</button>
  </div>
<div class="slider-scrollbar">
  <div class="scrollbar-track">
      <div class="scrollbar-thumb">

      </div>
  </div>
</div>
</div>
</div>


<script>
const initSlider = () => {
  const imageList = document.querySelector(".slider-wrapper .image-list");
  const slideButtons = document.querySelectorAll(".slider-wrapper .slide-button");
  const sliderScrollbar = document.querySelector(".container .slider-scrollbar");
  const scrollbarThumb = document.querySelector(".scrollbar-thumb");
  const maxScrollLeft = imageList.scrollWidth - imageList.clientWidth;

  //handle scrollbar thumb drag
scrollbarThumb.addEventListener("mousedown", (e) => {
  const startX = e.clientX;
  const thumPosition = scrollbarThumb.offsetLeft;
 
  //Update thumb position on mouse move
const handleMouseMove = (e) => {
  const deltax = e.clientX - startX;
  const newThumbPosition = thumPosition + deltaX;
  const maxThumbPosition = sliderScrollbar.getBoundingClientRect().Width - scrollbarThumb.offsetWidth;
  
  const boundedPosition = Math.max(0, Math.min(maxThumbPosition, newThumbPosition));
  const scrollPosition = (boundedPosition /maxThumbPosition) * maxScrollLeft;

  scrollbarThumb.style.left = `${newThumbPosition}px`;
  imageList.scrollLeft = scrollPosition;
}

  //Remove event listeners on mouse up
  const handleMouseUp = () => {
  document.removeEventListener("mousemove", handleMouseMove);
  document.removeaddEventListener("mouseup", handleMouseUp);
  }

  //Add event listener for drag interaction
  document.addEventListener("mousemove", handleMouseMove);
  document.addEventListener("mouseup", handleMouseUp);

});

  //slide images according to the slide button clicks
slideButtons.forEach(button => {
  button.addEventListener("click", () => {
  const direction = button.id === "prev-slide" ? -1 : 1;
  const scrollAmount = imageList.clientWidth * direction;
  imageList.scrollBy({left: scrollAmount, behavior: "smooth" });
  });
});
const handleSlideButtons = () => {
  slideButtons[0].style.display = imageList.scrollLeft <= 0 ? "none" : "block";
  slideButtons[1].style.display = imageList.scrollLeft >= maxScrollLeft ? "none" : "block";
}

const updateScrollThumbPosition = () => {
  const scrollPosition = imageList.scrollLeft;
  const thumbPosition = (scrollPosition / maxScrollLeft) * (sliderScrollbar.clientWidth - scrollbarThumb.offsetWidth);
  scrollbarThumb.style.left = `${thumbPosition}px`;
}

imageList.addEventListener("scroll", () => {
  updateScrollThumbPosition();
  handleSlideButtons();
});

}

window.addEventListener("resize", initSlider)
window.addEventListener("load", initSlider);

</script>

 <!-- freeGame ____________________________________________________________________________ -->
 
 <div class="containerFree">
  <h3 class="h3Class">Play&nbsp;&nbsp;for&nbsp;&nbsp; free</h3>
  <div class="GamesCon">

  <div class="games-one">
      <a href="https://cloudsaaa.github.io/11Hangman-Game/">
      <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515809/CGImg%27s/11hwxjc7x8aqdrlwek1mqs.jpg" alt="" id="img">
      </a>
      <p id="p">Save the MAN</p>
 </div>
    <div class="games-one">
        <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519639/ForFrontPic/img9_mqpjr4.png" alt="" id="img">
        <p id="p">Pig Ben</p>
  </div>
     <div class="games-one">
        <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519609/ForFrontPic/img8_ara7r9.png" alt="" id="img">
        <p id="p">Monkey Man/by Aben</p>
  </div>
</div>

        <div class="GamesCon">
            <div class="games-one">
                <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519645/ForFrontPic/img10_szbvk1.png" alt="" id="img">
                <p id="p">ESCAPE</p>
            </div>
            <div class="games-one">
              <a href="https://cloudsaaa.github.io/8Space_shoter/">
                <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515825/CGImg%27s/13y7dxbakpdwmzy7oh22ak.webp" alt="" id="img">
              </a>
                <p id="p">Shooter</p>
            </div>
            <div class="games-one">
                <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519658/ForFrontPic/img12_tvbdly.png" alt="" id="img">
                <p id="p">BIKE</p>
            </div>
        </div>

        <div class="GamesCon">
            <div class="games-one">
                <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519664/ForFrontPic/img13_ojnpbe.png" alt="" id="img">
                <p id="p">Catch the BUG</p>
            </div>
            <div class="games-one">
                <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717519675/ForFrontPic/img15_xphvtz.png" alt="" id="img">
                <p id="p">Football</p>
            </div>
            <div class="games-one">
              <a href="https://cloudsaaa.github.io/5Increament/">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515837/CGImg%27s/16fiizeoycuvhuwjehhvme.png" alt="" id="img">
              </a>
                <p id="p">Shooter</p>
            </div>
        </div>

        
        <div class="GamesCon">
          <div class="games-one">
            <a href="https://cloudsaaa.github.io/Maze/">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515697/CGImg%27s/1hog5wx2tjoxdusgruans.jpg" alt="" id="img">
            </a>
              <p id="p">Escape the Maze</p>
          </div>
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678330/CGImg%27s/owadf5hmuc6snr0qvddp.avif" alt="" id="img">
              <p id="p">Apex</p>
          </div>
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678390/CGImg%27s/vdigxaupahd3gkpn6u70.jpg" alt="" id="img">
              <p id="p">The Witcher</p>
          </div>
      </div>

      <div class="GamesCon">
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678442/CGImg%27s/e1cbronljwssnaiuzlcq.jpg" alt="" id="img">
              <p id="p">FARCRY 4</p>
          </div>
          <div class="games-one">
            <a href="https://cloudsaaa.github.io/18Word-Scramble-Game/">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515778/CGImg%27s/5nesgfah4xeoxlfcugiig.webp" alt="" id="img">
            </a>
              <p id="p">Guess the Word</p>
          </div>
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678490/CGImg%27s/yfajyaq2mt7vzzjz9hlu.jpg" alt="" id="img">
              <p id="p">Village</p>
          </div>
      </div>

      <div class="GamesCon">
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678528/CGImg%27s/npxojln4d5x6sxepjpgr.jpg" alt="" id="img">
              <p id="p">Racing</p>
          </div>
          <div class="games-one">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717678565/CGImg%27s/y4m5shveazos5ct7gcpu.webp" alt="" id="img">
              <p id="p">Gate Zero</p>
          </div>
          <div class="games-one">
            <a href="https://cloudsaaa.github.io/3Connect4/">
              <img src="https://res.cloudinary.com/dbqs0bidc/image/upload/v1717515849/CGImg%27s/18wpc00a1cmpbfr8i9lqz6.jpg" alt="" id="img">
            </a>
              <p id="p">YouGO</p>
          </div>
      </div>
    </div>




<!--BoxImages ------------------------------------------------------------------------------------------------------------------------------------  -->
<br><br><br><br><br><br><br><br><br><br>
<h2 class="h3Class2">Enjoy your favorite</h2>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-4  mb-5">
  <% for(let listing of allListings) { %>
    <a href="<%=listing.sourceCode%>">
    <div class="card col">
        <img src="<%=listing.image %>" 
         class="card-img-top" 
         alt="Games-Image"
         style="height: 10rem;"
    />
    <p id="p"> <%= listing.name %> </p>
    
    <br>
  <div class="card-img-overlay"></div>                       
    </div>
  </a>
    
    <% } %> 
<% } %>

  </div> 

</body>
</html>